.home {
    width: 100vw;
    
    .text {
        margin: 10rem 0;
        align-items: center;

        h1 {
            font-size: 3rem;
        }

        h1, h3 {
            color: #ffe300
        }
    }
}