.Navbar {
    justify-content: space-between;
    padding: 0 2% 0 0;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background: #141414;
    z-index: 111;

    .logo {
        width: 100px;
        height: 70px;
    }

    .navLink {
        a {
            list-style: none;
            margin: 0 2rem; 
            text-transform: capitalize;
            text-decoration: none;
            color: inherit;
        }
    }

    .cart--icon {
        position: relative;
        
        span {
            position: absolute;
            top: -8px;
            right: -7px;
            color: #7ce285;
            font-size: 12px;
            background-color: black;
            border-radius: 50%;
            padding: 0px 5px 2px;
            border: 2px solid #62ff72;
        }

        .icon-favorite {
            font-size: 25px;
        }
    }


    a.activeNow {
        border-bottom: 2px solid #d3d0d0;
        width: fit-content;
        padding: 0 0 5px 0;
    }
}


@media screen and (max-width: 700px) {
    .Navbar {
        padding: 0 5% 0 0;
    
        .logo {
            width: 70px;
            height: 45px;
        }
    
        .navLink {
            position: absolute;
            top: 75px;
            background: #141414;
            width: 100%;
            padding: 10px 0 10px;
            justify-content: center;
            z-index: 122;
            border-bottom: 1px solid #dcdacb;
            box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
        }

        .cart--icon .icon-favorite {
            font-size: 20px;
        }

        .cart--icon span {
            font-size: 10px;
        }

        .navLink {
            top: 50px;
        }

        .navLink a {
            font-size: 13px;
            margin: 0 17px;
        }

        h1 {
            font-size: 1rem;
        }
    }
}